<form class="col-xs-{{classes.columns}}" method="post">
  <label for="GoodOrBad">Good or Evil</label>
  <div class="radio">
    <label>
      <input type="radio" class="radio-inline" id="GoodOrBad" name="goodbad" {{#if status.good}} checked {{/if}}value="1"> Good
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" class="radio-inline" id="GoodOrBad" name="goodbad" {{#unless status.good}} checked {{/unless}} value="0"> Evil
    </label>
  </div>

  <div class="form-group">
    <label for="GoodOrBad">Favorite Food</label>
    <input type="input" class="form-control" id="favFood" name="food" value="{{status.food}}">
  </div>
  <div class="form-group">
    <label for="GoodOrBad">Favorite Color</label>
    <select name="color" id="favColor" class="form-control" value={{status.color}}>
      <option value={{status.color}} selected>{{status.color}}</option>
      {{#each colors as |color|}}  <option value={{color}}>{{color}}</option>
{{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="insanity">Insanity Level</label>
    <input name="insanity" type="range" min="0" max="11" class="form-control" value={{status.insanity}}>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<section class="col-xs-{{classes.columns}} {{classes.lists}}">
  <h3>Likes</h3>
  <ul>
    {{#each status.person.likes as |like|}}
    <li>{{like}}</li>
    {{/each}}
  </ul>
  <h3>Dislikes</h3>
  <ul>
    {{#each status.person.dislikes as |dislike|}}
    <li>{{dislike}}</li>
    {{/each}}
  </ul>
</section>

<section class="col-xs-{{classes.columns}} {{classes.bio}}">
  <h3>Biography</h3>
  {{#each status.person.biography as |paragraph|}}
  <p>
    {{paragraph}}
  </p>
  {{/each}}
</section>

<section class="col-xs-{{classes.columns}} {{classes.resume}}">
  <h3>Resume</h3>
  {{#each status.person.resume as |section|}}
  <h4>{{section.title}}</h4>
  <p>
    {{section.body}}
  </p>
  {{/each}}
</section>
